body {
  margin: 0;
  padding: 0;
  
}
@import url(https://fonts.googleapis.com/css?family=Roboto);
a{
    text-decoration:none!important;
}

h1, h2, h3, h4, h5{
    font-family:Roboto;
}

h2.title{
    background:#333333!important;
    color:#fff;
    padding:20px;
    margin-bottom:0px;
    margin-right:2px;
    border-radius: 6px 6px 0px 0px;
}


.btnwide{
	width:100%;
	margin:25px 0;
}

a.flip{
	    background-color: #DE7B1F;
    border-color: #984D07;
}

a.flip:hover{
background-color: #683D8B;
    border-color: #401B5F;

}


.spacer{
    display:block;
    height:30px;
    clear: both;
}

.btn-default{
    color:#683D8B;
    border-color:#401B5F;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    background-color:#683D8B;
    border-color:#401B5F;
    color:#fff;
}

.btn-primary{
    background-color:#683D8B;
    border-color:#401B5F;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color:#DE7B1F;
    border-color:#984D07;
}

/*datepicker*/

div.relative {
    position: relative;
    top: 5px;    
    left: 0;
    width: 100%;
    height: 200px;
    border: 3px solid #8AC007 ;
} 

div.absolute {
    position: absolute;
    top: 210px;
    left: 250px;
    width: 1000px;
    height: 100px;
    border: 3px solid #8AC007;
}
div.absolute1 {
    position: absolute;
    top: 310px;
    right: 600px;
    width: 500px;
    height: 150px;
    border: 3px solid #8AC007;
}


DIV.frame1 {
/*So it scrolls with the other frame*/
    position: fixed;
/*This frame will be set OVER the other.*/
    z-index: 1;
/*Again, static width is suggested.*/
    width: 200;
/*Alternatively, you could set bottom: 0; instead of height: 100%;*/
    height: 100%;
/*The position of this frame is "Top Left"*/
    top: 0;
    left: 0;
/*So the text isn't so crammed off to the left...*/
    padding-left: 10;
/*So this frame can scroll*/
    overflow: auto;
}

DIV.frame2 {
/*This frame does not move.*/
    position: absolute;
/*This frame is set BELOW the other*/
    z-index: 0;
/*This frame is "Top Right"*/
    top: 0;
    right: 0;
/*Using the alternative method to fill the screen.*/
    bottom: 0;
/*This is why you should use a static width.  You may set this to 200, but this offers a little space between your "frames"*/
    left: 212;
/*Overflow is not needed here, unless you plan to scroll horizontally.  Even then, it will simply be cosmetic.*/
}


#ui-datepicker-div{
    border-color:#DE7B1F;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-header{
       background: #DE7B1F;
       border: 1px solid #984D07;
       color:#fff;
}

.ui-widget-content{
    color:#683D8B;
}

#carselect{
    display:block;
    
}

.cartype,
.operation{
    height:60px;
    border:1px #DE7B1F solid;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
   
}
.cartype:hover,
.operation:hover
{
    
   background: #DE7B1F;
   
}

.cartype_active,
.operation_active{
    height:60px;
    border:1px #DE7B1F solid;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    background: #DEDEDE;
    -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
}

.cartype_active:hover,
.operation_active:hover
{
    
   background: #DE7B1F;
   
}


/*tooltip*/

.tool-tip{
    display: inline;
    position: relative;    
    
}


.tool-tip:hover::after{
    
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;


}

.tool-tip:hover::before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}


.wop{
    height:30px;
    border:1px #DE7B1F solid;
    margin-right: -1px;
    margin-top: -1px;
    text-align: left;
    padding-top:5px;
        -webkit-transition: background 0.5s; /* Safari */
    transition: background 0.5s;
}

.wop:hover{
     background: #DE7B1F;
     
}



.wop a{
    color:#683D8B;
}

.wop a i{
    padding-right:15px;
}


.jumbotron{
    padding:5px 25px!important;
    margin-top: 20px;
    background:#333333;
    color:#fff;
}
.input-group{
    margin:20px 0;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    color: #DE7B1F;
    text-align: left;
    background-color: #683D8B;
    border: 1px solid #683D8B;
    border-radius: 4px;
    width: 35%;}
    
.input-group .form-control{
    color:#683D8B!important;
}

table.table-striped {
    border:solid 2px #683D8B;
    
}

 table.table-striped tr{
    border:solid 2px #683D8B;
}

table.table-striped thead tr,
table.table-striped tfoot tr{
    font-weight: bold;
    background-color:#683D8B;
    color:#000;
}
table.table-striped thead tr td,
table.table-striped tfoot tr td{
    color:#fff;
}
table.table-striped tr td{
    color:#683D8B;
}

#date{
    display:block;
    border:1px solid #DE7B1F;

    padding:15px;
}
h3.title{
    margin-top:0px;
    background:#333333;
    color:#fff;
    padding:20px;
    margin-bottom:0px;
    
    border-radius: 6px 6px 0px 0px;
}

#date input {
    margin:10px 0;
    border:1px solid #DE7B1F;
}


#date .btn-group{
    float:right;
}

select {
	-webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #DE7B1F;
    background-image: url(../img/select-arrow.png), -webkit-linear-gradient(top, #DE7B1F, #A05209);
    background-image: url(../img/select-arrow.png), -moz-linear-gradient(top, #DE7B1F, #A05209);
    background-image: url(../img/select-arrow.png), -ms-linear-gradient(top, #DE7B1F, #A05209);
    background-image: url(../img/select-arrow.png), -o-linear-gradient(top, #DE7B1F, #A05209);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #A05209;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-size: 18px;
    margin: 22px 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    
}

.logo-auto{
	background:url(../img/avp_logo.png) no-repeat center;
	width:30%;
	height:150px;
	text-indent:-9999px;
	
	
}
#pdf{
	width: 500px;
    height: 1500px;
}



a.reset{
	float: right!important;
    border-radius: 5px!important;
    margin: 0px 5px!important;
}

