<!DOCTYPE html>
<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
<html>
    <head>




        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

        <!-- Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="css/animate.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <link href="css/jquery-ui.css" rel="stylesheet" />
        <link href="css/css.css" rel="stylesheet" />

        <script>
            $(function() {
            $("#datepicker").datepicker({
            dateFormat: "dd/mm/yy"
            });
            });
        </script>

        <style>
            .selected {
                background-color:black;
                color:white;
                font-weight:bold;
            }
        </style>

    </head>
    <body  ng-app="selectorApp" ng-controller="selectorCtrl">


        <script src="js/angular.js"></script>


        <script src="js/classes/Cell.js"></script>
        <script src="js/classes/Zone.js"></script>
        <!--	<script src="js/classes/colorzone.js"></script>-->
        <script src="js/classes/ZoneTable.js"></script>
        <script src="js/selectorCtrl.js"></script>




        <div class="container-fluid hide-mobile">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-offset-1 col-lg-10 hidden-xs" >	
                    <table class="angebot table">
                        <thead>
                            <tr><!--  {'selected':($index === selectedRow)&&($parent.$index === selectedCol),{{col}}:1 } -->
                                <th></th> <th ng-repeat="col in zoneTable.cH" ng-class="" >{{col}}</th>
                            </tr>
                        </thead>
                        <!--ng-click="zoneTable.getCell($parent.$index,$index).clickMe()"-->
                        <tbody>
                            <tr ng-repeat="row in zoneTable.rH"> <!-- track by $index -->
                                <th scope="row">{{row}}</th> <!-- display column headers -->
                                <td 
                                    ng-repeat="col in zoneTable.cH"

                                    ng-class="{0:zoneTable.getCell($parent.$index,$index).color,1:'selected'}[zoneTable.getCell($parent.$index, $index).selected()]"

                                    ng-click="zoneTable.clickAt($parent.$index, $index)"
                                    > 

                                    {{ zoneTable.getCell($parent.$index, $index).hello()}}
                                </td> 
                                <!--(selected_cells.indexOf( (($parent.$index)+':'+$index) )>-1)
                                ng-click="setClickedCell($parent.$index+1,$index+1)">{{($parent.$index+1)+':'+($index+1)}}
                                {{cell.color}}
                                -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12  col-lg-offset-1  col-lg-10 hidden-xs">	
                    <a target="_parent" class="btn btn-default btn-large btn-center"  ng-href="{{zoneTable.url}}" >Auswählen</a>
                    <a class="btn btn-default btn-large btn-reset"  href="javascript:history.go(0)" >Zurücksetzen</a>
                </div>	

            </div>
            
            
            <div class="row">
                <div class="col-md-12 col-sm-12  col-lg-offset-1  col-lg-10 hidden-xs">	
                    <table>
                        <tbody>
                            <tr><td class="selected">Destination : {{zoneTable.url}}</td></tr>
                            <tr ng-repeat="selection in zoneTable.selection"> <!-- track by $index -->
                                <td scope="selection" class="{{selection.color}}">
                                    {{selection.color}}
                                    {{selection.counter}}
                                    =>{{selection.url}}                                    
                                </td> 
                                

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="container">
            {{redirect}}
            <div ng-if="showPage" >
                <!--redirecting ...-->
            </div>
        </div>

        <!--        <img src="grid2.png">-->


    </body>
</html>